section{
    width: 99%;
    height: 98vh;
    background-image: linear-gradient(150deg, rgba(62, 250, 5, 0.726),rgb(95, 233, 95), white,green,green);
    background-repeat: repeat;
    /* background-color: blue; */
    position: absolute  ;
}
div{
    width: 20%;
    height: 40%;
    top: 40%;
    left: 35%;
    background-color: antiquewhite;
    background-image: url(pic\ 40.webp);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    animation-name: ball;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes ball{
    from{transform: rotatey(0deg);}
    to{transform: rotatey(180deg);}
    }
div1{
    width: 20%;
    height: 40%;
    top: 40%;
    left: 35%;
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
}
div2{
    position: absolute;
    left: 18%;
    font-size: 43px;
}